
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.idea/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/.phpunit.result.cache
/coverage/
###< phpunit/phpunit ###



###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###


###> sonarqube ###
/.scannerwork
###< sonarqube ###


/tests/_reports/
