{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
            <div class="col col-md-6 col-md-offset-3">

            {{ form_start(form, {'action' : path('task_create')}) }}
                {{ form_widget(form) }}

                <button type="submit" name="task_create_submit" class="btn btn-success pull-right">Ajouter</button>
            {{ form_end(form) }}

            <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
        </div>
    </div>
{% endblock %}
