{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Page non trouvée</h1>
{% endblock %}

{% block body %}

    <p>Vous tentez d'accéder à une page non trouvée. Souhaitez-vous revenir à <a href="{{ path('home') }}">l'accueil</a> ?</p>

{% endblock %}
