{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}

    <p>
        Nous rencontrons acutellement un problème, revenez plus tard !
    </p>
{% endblock %}
