{% extends 'base.html.twig' %}

{% block header_title %}<h1>Modifier <strong>{{ user.username }}</strong></h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-md-6 col-md-offset-3">
            {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
            {{ form_widget(form) }}

            <button type="submit" name="user_edit_submit" class="btn btn-success pull-right">Modifier</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
